:root {
  --main-blue: #45567d;
  --main-white: #fff;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

#navbar {
  display: flex;
  justify-content: flex-end;
  background-color: var(--main-blue);
  position: fixed;
  width: 100%;
}

.navList a {
  display: block;
  padding: 1.5rem;
  color: var(--main-white);
}

.navList a:hover {
  background-color: aqua;
}

#welcome-section {
  background-color: bisque;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 { 
  font-size: 10rem;
}

ul {
  display: flex;
  list-style-type: none;
}

figure {
  margin: 2rem;
}
/* 1200px is roughly 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 60em) {
  html {
    font-size: 40%;
    color: blue;
  }
}